[Desktop Entry]
Type=Application
Name=gitbumr
Exec=gitbumr
Icon=gitbumr
Comment=Bundle an application as an AppDir and/or AppImage
Terminal=true
Categories=Development;